* {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: white;
  z-index: 10;
}

.header-content {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky + .content {
  padding-top: 62px;
}

.menu {
  display: none;
}

.nav {
  padding: 5px 10px;
}

.logo-container {
  padding: 5px 10px;
  /* text-transform: uppercase; */
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 3.2rem;
  color: #f1a503a1;
  margin: 5px 0px;
}

.logo_sub {
  font-weight: bold;
  color: #27282B;
}

.logo_sub_2 {
  color: #575757;
}

.nav li {
  list-style-type: none;
  display: inline;
}

.homepage {
  text-decoration: none;
}

.login a {
  color: #27282B;
  text-decoration: none;
  border-radius: 1px;
  font-size: 1.3rem;
  padding: 5px 10px;
}

.nav {
  display: flex;
}

.login,
.signup {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.login a:hover {
  color: #f1a503a1;
}

.signup a,
.logout a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 7px 13px;
  background-image: linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
}

.signup a:hover {
  color: #575757;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100vw;
  max-height: 100%;
  border-left: 2px solid #d3d3d3;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fastfood.jpeg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 20rem;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-food {
  width: 60%;
  padding: 20px 40px 20px 40px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 2.2em;
  font-size: 1.8rem;
  border: 0;
  outline: none;
  border-radius: 40px;
 
}
::placeholder{
  color: #f1a503a1;
  opacity:1;
}

.content-food {
  width: 90vw;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  width: 28vw;
}
.shopping-cart-card{
  min-height: 50px;
  min-width:15%;
  position: absolute;
  display: none;
  background-color: white;
  top:10%;
  left: 77%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 4;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  padding-bottom: 1.5rem;

}
.checkout-shopping-cart{
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  padding-bottom: 1.5rem;
  width:70%;
  min-height: 30%;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.space {
  height: 40px;
  width: 20px;
  position: relative;
  background-color: #f1f50c;
  top: 0;
  left: 97%;
}

.food-title, .cart-title {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
  margin: 0;
  font-size: 1.8rem;
}
.checkout-cart-title{
  font-size: 2.2rem;
}
.cart-title{
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}
.checkout-cart-title{
  font-size: 2.2rem;
  padding: 1.5rem 2.5rem;
}

.order-now {
  margin: 1rem 1rem;
  cursor: pointer;
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%),url('../images/shopping-cart-2.png');
  background-repeat: no-repeat;
  background-position: 30% 50%;
  font-size: 1.8rem;
  /* color: #575757; */
}

.order-now:hover {
  color: whitesmoke;
  -webkit-transition: color 0.2s; 
  transition: color 0.2s;
  transition-timing-function: cubic-bezier(0.11, 0.46, 0.45, 0.94);
  background-image: linear-gradient(120deg,#f1a503a1 0%, #f1f50c 100%),url('../images/shopping-cart-4.png');
  background-repeat: no-repeat;
  background-position: 30% 50%;
}
.pop-up-image{
  width:100%;
  height: 70%;
  display: block;
  padding: 1rem 1rem;
  margin: auto auto;
}
.pop-up-title{
  padding: 1rem 2rem;
  margin-bottom: 0px;
}
.close-pop-up{
  font-size: 1.6rem;
  background-image: linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 0px;
  width: 40%;
  margin-left: 50%;
  cursor: pointer;
}
.pop-up-message{
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-top: 0px;
}
.pop-up{
  display:none;
  height: 100%;
  width: 100%;;
  position: fixed;
  background-color: rgba(5, 5, 5, 0.6);
  top: 0;
  z-index: 999;
}
.pop-up-container{
  display: flex;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  background-color: white;
  width: 30%;
  height: 30%;
  position: relative;
  top:40%;
  left:35%;
  border-radius: 10px;
}
.checkout{
  min-height: 40px;
  min-width:40px;
  
}
.openCart{
  display: block;
}
.qty{
  width: 20%;
}
.item-footer{
  display:flex;
  flex-wrap: wrap;
  padding: 1.0rem 0rem;
  border-top: 2px solid #f1a503a1;
}
.item-qty{
  font-size: 1.3rem;
  padding: 0rem 1rem;
  margin-bottom: 5px;
  margin-top: 0px;
}
.sub, .tax, .total{
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 2.5rem;
  font-size: 1.6rem;
  border-top: 1px solid #f1a503a1;

}
.item-recipt{
  margin: 10px 10px;
}
.total{
  font-weight: bold;
  font-size: 1.9rem;
}
.total-price{
  background:linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item-checkout{
  padding: 0.8rem 2.5rem;
  background-image: linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
  display:block;
  margin: 1.2rem auto;
  font-size: 1.6rem;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.plus{
  width: 16px;
  height: 16px;
  background-image: url('../images/add.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
}
.delete {
  width: 16px;
  height: 16px;
  background-image: url('../images/delete.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18rem;
  cursor: pointer;
 }
 .checkout-delete{
  margin-left: 1rem;
  padding: 3.5rem 0rem;
 }
.minus{
  width: 16px;
  height: 16px;
  background-image: url('../images/minus.png');
  background-repeat: no-repeat;
  background-position: center; 
  cursor: pointer;
}
.item-price{
  font-size: 1.6rem;
  font-weight: bold;
  background:linear-gradient(120deg, #f1a503a1 0%, #f1f50c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding:3px 6px;
  margin: 5px 5px;
}
.item-title{
  padding:3px 6px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 5px 5px;
}
.checkout-item-title, .checkout-item-price{
  padding: 2.5rem 3.5rem;
  /* margin: 0 10%; */
}
.checkout-item-title{
  width: 30%;
}
.checkout-plus,
.checkout-minus {
  padding: 3.5rem 3.5rem;
}
.checkout-item-qty{
  padding: 2.7rem 3.5rem;
  font-size: 1.7rem;
}
.cart-image{
  height:40px;
  width:40px;
}
.checkout-cart-image{
  height:70px;
  width:70px;
  margin: 0rem 2.5rem;

}
.item{
  font-size: 1.6rem;
  padding: 5px 10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0.7rem;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}
.checkout-item{
  margin: 1.5rem 1rem;

}
.noItems{
  font-size: 1.6rem;
  background-color: #f1a503a1;
  padding: 5px 10px;
  margin: 5px 10px;
  text-align: center;
}

.food-group {
  display: flex;
  flex-wrap: wrap;
}

.food-img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}

.food-des {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  font-size: 1.3rem;
  height: 5.0rem;
}

hr {
  color: #f1a503a1;
  width: 95%;
}

.food-more h2 {
  padding: 1rem 2.0rem;
  background-color: #f1f50c;
  margin-top: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.price,
.calorie,
.rating,
.ingredient {
  padding: 0.4rem 2rem;
  font-size: 1.4rem;
}

.price {
  background-image: url('../images/currency.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.calorie {
  background-image: url('../images/value.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.rating {
  background-image: url('../images/rating.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.ingredient {
  background-image: url('../images/list.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.details {
  list-style-type: none;
  margin: 0;
  padding-left: 2.0rem;
}

.footer {
  background-color: #575757;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer p {
  font-size: 1.6rem;
  color: #f2f1f3;
  text-align: center;
  margin: 0;
}
  

@media all and (max-width: 600px) {
  .header-content {
    width: 100vw;
  }

  .logo {
    font-size: 2.2rem;
  }

  .signup a,
  .login a {
    font-size: 1.1rem;
  }

  .content-food {
    width: 100vw;
  }

  .card {
    flex: 1 1 calc(100% - 2rem);
  }

  .search-food {
    width: 80%;
    padding: 10px 20px 10px 20px;
    background-size: 1.6em;
    font-size: 1.4rem;
  }
}
@media all and (min-width: 620px) and (max-width: 949px) {
  .header-content {
    width: 100vw;
  }

  .logo {
    font-size: 2.2rem;
  }

  .signup a,
  .login a {
    font-size: 1.1rem;
  }

  .content-food {
    width: 100vw;
  }

  .card {
    flex: 1 1 calc(50% - 2rem);
  }

  .search-food {
    width: 80%;
    padding: 10px 20px 10px 20px;
    background-size: 1.6em;
    font-size: 1.4rem;
  }
}

@media all and (min-width: 951px) and (max-width: 1200px) {
  .header-content {
    width: 100vw;
  }
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
  .content-food {
    width: 100vw;
  }
}


